body {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 10px black;
    
   
}

div {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    
}


a {
    padding: 10px;
}
 h2 {
    font-family: 'Fugaz One', cursive;
    font-size: 46px;

 }

h3 {
    font-family: 'Work Sans', sans-serif;
}

h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    
}

img {
    height: 250px;
   width: 250px;

}

button {
    width: 250px;
    height: 25px;
}

.section1 {
    display: flex;
    background-color: #420247;
    flex-direction: column;
    color: whitesmoke;
}
.navbar{
   

    justify-content: ;
    align-items: 
    
}

.logo {
    align-items: center;
    justify-content:left;

}

.navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.main {
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.mainleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec1img {
    height: 250px;
    width: 250px;
}
.footer {
    background-color: #024742;
    font-size: 18px;
    color:whitesmoke;
    display: flex;
    justify-content: center;
}

.section2 {
    display: flex;
   flex-direction: column;
    color:  #474202;
}

.sec2main {
    display: flex;
    flex-direction: row;
    align-items: baseline;
   
}


.project {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #024742;
}
.section3 
{
    display: flex;
    flex-direction: column;
    background-color: #474202;
    color: whitesmoke;
    justify-content: center;

}
.author{
    justify-content: flex-end;
}

.section4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 250px;
    margin-left: 250px;
    color:#024742;
}

